In [48]:
import pandas as pd
import numpy as np
import altair as alt

In [61]:
df = pd.read_csv("TED.csv")
df.head()

,title,author,date,views,likes,link,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Climate action needs new frontline leadership,Ozawa Bineshi Albert,December 2021,404000,12000,https://ted.com/talks/ozawa_bineshi_albert_cli...,NaN,NaN,NaN,NaN
1,The dark history of the overthrow of Hawaii,Sydney Iaukea,February 2022,214000,6400,https://ted.com/talks/sydney_iaukea_the_dark_h...,NaN,NaN,NaN,NaN
2,How play can spark new ideas for your business,Martin Reeves,September 2021,412000,12000,https://ted.com/talks/martin_reeves_how_play_c...,NaN,NaN,NaN,NaN
3,Why is China appointing judges to combat clima...,James K. Thornton,October 2021,427000,12000,https://ted.com/talks/james_k_thornton_why_is_...,NaN,NaN,NaN,NaN
4,Cement's carbon problem — and 2 ways to fix it,Mahendra Singhi,October 2021,2400,72,https://ted.com/talks/mahendra_singhi_cement_s...,NaN,NaN,NaN,NaN

#### Vamos a ordenar los datos de mayor a menor numero de likes:

In [62]:
orden_likes = df.sort_values("likes", ascending=False)
orden_likes.head()

,title,author,date,views,likes,link,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
5436,Do schools kill creativity?,Sir Ken Robinson,February 2006,72000000,2100000,https://ted.com/talks/sir_ken_robinson_do_scho...,NaN,NaN,NaN,NaN
4084,Your body language may shape who you are,Amy Cuddy,June 2012,64000000,1900000,https://ted.com/talks/amy_cuddy_your_body_lang...,NaN,NaN,NaN,NaN
2958,Inside the mind of a master procrastinator,Tim Urban,February 2016,60000000,1800000,https://ted.com/talks/tim_urban_inside_the_min...,NaN,NaN,NaN,NaN
4605,The power of vulnerability,Brené Brown,June 2010,56000000,1700000,https://ted.com/talks/brene_brown_the_power_of...,NaN,NaN,NaN,NaN
4765,How great leaders inspire action,Simon Sinek,September 2009,57000000,1700000,https://ted.com/talks/simon_sinek_how_great_le...,NaN,NaN,NaN,NaN

#### Vamos a ordenar los datos de menor a mayor numero de likes

In [63]:
orden_vistas = df.sort_values("likes", ascending=True)
orden_vistas.head()

,title,author,date,views,likes,link,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
3039,Year In Ideas 2015,NaN,December 2015,532,15,https://ted.com/talks/year_in_ideas_2015,NaN,NaN,NaN,NaN
613,Post-Pandemic Paradise in Rapa Nui,Far Flung,October 2020,1200,37,https://ted.com/talks/far_flung_post_pandemic_...,NaN,NaN,NaN,NaN
552,Virtual Worlds,Far Flung,November 2020,1300,39,https://ted.com/talks/far_flung_virtual_worlds,NaN,NaN,NaN,NaN
1692,"""Part II. The Journey Through Time"" / ""Ruslan ...",Deutsche Philharmonie Merck,November 2018,1300,40,https://ted.com/talks/deutsche_philharmonie_me...,NaN,NaN,NaN,NaN
1064,"""Jamie Raeburn"" / ""Baloo Baleerie"" / ""Twa recr...",Findlay Napier and Gillian Frame,July 2019,1300,40,https://ted.com/talks/findlay_napier_and_gilli...,NaN,NaN,NaN,NaN

#### Vamos a ordenar los autores de manera alfabetica:

In [64]:
orden_autores = df.sort_values("author", ascending=True)